src/main/java/xsd/UXMLS-1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="cancion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="titulo" type="xs:string"/>
                <xs:element name="compositor" type="xs:string"/>
                <xs:element name="productor" type="xs:string"/>
                <xs:element name="discografica" type="xs:string"/>
                <xs:element name="artista" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>